body {
    box-sizing: border-box;
    padding-top: 30px;
}

.aboutMe {
    background-color: rgba(39, 95, 130, 0.2);
    padding: 60px;
    border-radius: 20px;
}

.aboutMe h2 {
    margin-top: 0;
}

.aboutMeParent {
    margin-top: 60px;
}

.bold {
    font-weight: 600;
}

.btn-default a {
    color: #701F1A;
}

.btn-default a i {
    color: #777;
}

.carousel, .carousel-inner {
    max-height: 300px;
    max-width: 500px;
}

.carousel-inner img {
    max-height: 300px;
    max-width: 500px;
}

.future-products h2 {
    margin-top: 60px;
}

.jumbotron {
    background-image: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/5056/5056838.png?1451853912');
    border-bottom: 4px solid #333218;
    border-top: 2px solid #333218;
    height: 650px;
}

.jumbotron p,
h1 {
    color: black;
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px 1px #aaa;
}

.jumbotron h1 {
    color: #701F1A;
    font-size: 83px;
    font-weight: bold;
}

.navbar {
    border: 0 rgba(39,95,130, 1); solid;
}

.navbar div {
    background-color: rgba(39,95,130, 1);
}

.navbar-right li {
    background-color: #333218;
    border-radius: 4px;
    margin: 5px;
}

.navbar-default .navbar-right li a {
    color: white;
}

.navbar-default .navbar-right li a:hover {
    background-color: #DEDA6A;
    border-radius: 4px;
    color: #701F1A;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #DEDA6A;
}

.navbar-default .navbar-header button {
    background-color: white;
}

.navbar-default .navbar-header button:hover {
    background-color: #DEDA6A;
}

p {
    font-size: 1.15em;
    margin-top: 6px;
}

 .turkey > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #701f1a 0px, #e8cbca 100%);
}

.honey > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #deda6a 0px, #e8e6c5 100%);
}

 .cheese > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #238755 0px, #c1e8c9 100%);
}

.panel-title {
    color: #333218;
}

.products {
    background-color: rgba(222, 218, 106, .4);
    margin-top: 60px;
    padding: 40px;
}

.products h2, .future-products h2 {
    margin-bottom: 40px;
}

.well {
    background-image: linear-gradient(to bottom, #701f1a 0px, #333218 100%);
    color: whitesmoke;
    margin-bottom: 0;
    min-height: 375px;
    padding: 75px 15px;
}
