body {
    background-color: #D7D8C5;
    padding-top: 30px;
}

a{
    color: #D6D1AF;
}

a:hover{
    color: #E47267;
}

.aboutMe {
    background-color: rgba(232, 232, 232, .8);
    padding: 60px;
    border-radius: 20px;
}

.aboutMe h2 {
    margin-top: 0;
}

.aboutMeParent {
    margin-top: 60px;
}

.bold {
    font-weight: 600;
}

.btn-default {
    min-height: 50px;
}

.btn-default a {
    color: #000;
}

.btn-default a i {
    color: #777;
}

.carousel, .carousel-inner {
    max-height: 300px;
    max-width: 500px;
}

.carousel-inner img {
    max-height: 300px;
    max-width: 500px;
}

.future-products h2 {
    margin-top: 60px;
}

.img-circle {
    border: 3px #E47267 solid;
}

.jumbotron {
    background-image: linear-gradient(to bottom, #D6D1AF 0px, #E6E5C4 100%);
    border-top: 2px solid #e8e8e8;
    height: 650px;
    padding-top: 60px;
}

.jumbotron h1 {
    color: #999;
    font-size: 93px;
    font-weight: 700;
    margin-bottom: 135px;
    text-align: center;
}

.jumbotron .picture-row a {
    font-size: 2.15em;
    color: #999999;
}

.jumbotron .picture-row a:hover{
    color: #E47267;
}

.navbar {
    border: 0 #e8e8e8 solid;
}

.navbar div {
    background-color: #E8e8e8;
}

.navbar-default .navbar-right li a {
    color: #333;
}

.navbar-default .navbar-right li a:hover {
    background-color: #f6f6f6;
    color: #E47267;
}

.navbar-default .navbar-brand {
    color: #333;
}

.navbar-default .navbar-brand:hover {
    color: #E47267;
}

.navbar-default .navbar-header button {
    background-color: #f6f6f6;
}

.navbar-default .navbar-header button:hover {
    background-color: #333;
}

p {
    font-size: 1.15em;
    margin-top: 6px;
}

.turkey > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #e8e8e8 0px, #f6f6f6 100%);
}

.honey > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f6f6f6 0px, #e8e8e8 100%);
}

.cheese > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f6f6f6 0px, #e6e8d8 100%);
}

.panel-title {
    color: #8A8780;
}

.products {
    background-image: linear-gradient(to bottom, #D7D8C5 0px, #E6E5C4 100%);
    margin-top: 60px;
    padding: 40px;
}

.products h2, .future-products h2 {
    color: #E47267;
    margin-bottom: 40px;
}

.well {
    background-image: linear-gradient(to bottom, #8A8780 0px, #222 100%);
    border: none;
    color: #f6f6f6;
    margin-bottom: 0;
    min-height: 300px;
    padding: 75px 15px;

}

.well .btn {
    font-size: 1.15em;
}

.well p a {
    color: #e8e8e8;
    font-weight: 500;
}
