body {
    background-color: rgba(246, 246, 246, 1);
    box-sizing: border-box;
    padding-top: 30px;
}

.aboutMe {
    background-color: rgba(232, 232, 232, .8);
    padding: 60px;
    border-radius: 20px;
}

.aboutMe h2 {
    margin-top: 0;
}

.aboutMeParent {
    margin-top: 60px;
}

.bold {
    font-weight: 600;
}

.btn-default {
    min-height: 50px;
}

.btn-default a {
    color: #000;
}

.btn-default a i {
    color: #777;
}

.carousel, .carousel-inner {
    max-height: 300px;
    max-width: 500px;
}

.carousel-inner img {
    max-height: 300px;
    max-width: 500px;
}

.future-products h2 {
    margin-top: 60px;
}

.img-circle {
    border: 4px #333 solid;
}

.jumbotron {
    background-image: linear-gradient(to bottom, #990100 0px, #b90504 100%);
    border-top: 2px solid #e8e8e8;
    height: 650px;
    padding-top: 60px;
}

.jumbotron p,
h1 {
    color: #aaa;
    font-size: 38px;
    text-align: center;
}

.jumbotron h1 {
    color: #f6f6f6;
    font-size: 83px;
    font-weight: bold;
}

.jumbotron p {
    margin-bottom: 125px;
}

.navbar {
    border: 0 #e8e8e8 solid;
}

.navbar div {
    background-color: #E8e8e8;
}

.navbar-default .navbar-right li a {
    color: #333;
}

.navbar-default .navbar-right li a:hover {
    background-color: #f6f6f6;
    color: #b90504;
}

.navbar-default .navbar-brand {
    color: #333;
}

.navbar-default .navbar-brand:hover {
    color: #b90504;
}

.navbar-default .navbar-header button {
    background-color: #f6f6f6;
}

.navbar-default .navbar-header button:hover {
    background-color: #333;
}

p {
    font-size: 1.15em;
    margin-top: 6px;
}

.turkey > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #e8e8e8 0px, #f6f6f6 100%);
}

.honey > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f6f6f6 0px, #e8e8e8 100%);
}

.cheese > .panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f6f6f6 0px, #e6e8d8 100%);
}

.panel-title {
    color: #333218;
}

.products {
    background-image: linear-gradient(to bottom, #b90504 0px, #900100 100%);
    margin-top: 60px;
    padding: 40px;
}

.products h2, .future-products h2 {
    color: #f6f6f6;
    margin-bottom: 40px;
}

.well {
    background-image: linear-gradient(to bottom, #222 0px, #333 100%);
    border: none;
    color: #f6f6f6;
    margin-bottom: 0;
    min-height: 300px;
    padding: 75px 15px;

}

.well .btn {
    font-size: 1.15em;
}

.well p a {
    color: #e8e8e8;
    font-weight: 500;
}

